a {
  all: unset;
}

.profileContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  color: black;
  padding-top: 200px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile {
  font-family: 'Onest';
  display: flex;
  align-items: center;
}

.profileContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 1000px;
  margin-right: 40px;
}

.profileEmail {
  font-size: 20px;
  font-weight: 600;
}

.profileGithubId {
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  color: #006aff;
}

.logout {
  font-family: 'Noto Sans KR';
  padding: 8px 20px;
  border-radius: 30px;
  background: rgb(255, 81, 81);
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  outline: none;
}

.vs {
  font-family: 'Noto Sans KR';
  padding: 8px 20px;
  border-radius: 30px;
  background: #006aff;
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}


@media (width > 1200px) {
  .container {
    width: 1200px;
  }
}

@media (width < 1200px) {
  .container {
    margin: 0 20px;
  }
}

@media (width < 600px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profileImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 0 40px 0;
  }
}