footer {
  width: 100vw;
  height: 200px;
  background: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}