@font-face {
  font-family: 'Junegull';
  src: url(../../assets/fonts/junegull.ttf);
}

a {
  all: unset;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 120px;
  font-weight: 600;
  font-size: 16px;
  transition: all .5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navTitle {
  cursor: pointer;
  font-family: 'Junegull';
  font-size: 24px;
}

.navItems {
  width: 230px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  cursor: pointer;
}

.icon {
  width: 18px;
  height: 18px;
}

.profileImg {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-top: 6px;
}

.windowContainer {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(10px);
}

.windowForLogin {
  width: 320px;
  height: 260px;
  border-radius: 20px;
  background: white;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 35px -3px rgba(0, 0, 0, 0.1);
}

.windowForSignup {
  width: 320px;
  height: 380px;
  border-radius: 20px;
  background: white;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 35px -3px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.windowInput {
  font-family: 'Onest', sans-serif;

  width: 218px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px rgb(236, 236, 236);
  outline: none;
  background: white;
  color: black;
  margin: 4px 0;
  padding-left: 20px;
  transition: border .3s;
}

.windowInput:focus {
  border: solid 1px #006aff;
  transition: border .3s;
}

.windowInput::placeholder {
  color: rgb(87, 87, 87);
}

.windowButton {
  width: 240px;
  height: 40px;
  background: #006aff;
  color: white;
  border-radius: 16px;
  border: none;
  outline: none;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.windowUp {
  width: 238px;
  text-align: end;
  font-size: 14px;
  color: #006aff;
  cursor: pointer;
}

.msgContainer {
  transform: translateY(-100px);
  transition: all .7s;

  z-index: 300;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
}

.msg {
  margin-top: 40px;
  padding: 12px;
  background: white;
  box-shadow: 0px 10px 35px -3px rgba(0, 0, 0, 0.1);

  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.checkIcon {
  position: absolute;
  font-size: 16px;
  color: white;
}

.checkBg {
  width: 25px;
  height: 25px;
  /* background: rgb(255, 100, 100); */
  border-radius: 50px;
}

.msgText {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.upProfile {
  width: 242px;
  padding: 12px 0;
  border: solid 1px rgb(233, 233, 233);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4px;
}

.upImg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  margin-right: 20px;
}

.upBtn {
  font-family: 'Noto Sans KR';
  padding: 6px 10px;
  border-radius: 30px;
  background: #006aff;
  color: white;
  font-weight: 600;

  border: none;
  outline: none;
}


@media (width > 1200px) {
  .container {
    width: 1200px;
  }
}

@media (width < 1200px) {
  .container {
    padding: 0 20px;
  }
}

@media(width < 400px) {
  nav>.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navItems {
    display: none;
  }

  .navTitle {
    margin-left: -5px;
  }
}